* -text

.editorconfig   text eol=lf
.gitattributes  text eol=lf
.gitignore      text eol=lf
.prettierignore text eol=lf
LICENSE         text eol=lf
*.md            text eol=lf
*.txt           text eol=lf
*.yml           text eol=lf
*.ts            text eol=lf
*.js            text eol=lf
*.json          text eol=lf
