
* -text

.editorconfig   text
.gitattributes  text
.gitignore      text
LICENSE         text
README          text
*.md            text
*.txt           text
*.ts            text
*.js            text
*.json          text
